<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza order</title>
    <script defer src="main.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Pizza order</h1>
    <p>Place an order for a Pizza!</p>
    <p>
        <button id="btn">Place Order</button>
    </p>
    <p>
        <button id="btn1"> bite the...</button>
        <button id="btn2"> time flies when your...</button>
        <button id="btn3"> to make...</button>
        <button id="btn4"> your guess is as...</button>
        <button id="btn5"> no pain...</button>
    </p>
</body>
</html>